<nav>

    <div  class="links">
    <a href="/homepage"><label>Home</label></a>
    <a href="/booklist"><label>Booklist</label></a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login"><label>Login</label></a> 
    </div>

    <div id="input" class="input-group mb-3 col-xs-3">
       <button class="btn btn-outlin-secondary" type="button" id="button-addon1">Search</button>
       <input type="text" class="form-control" placeholder="Feed your knowledge"/>
    </div>

</nav>

<main>

    <div>
        
    </div>

</main>